body{
    background: #000;
}
.connexion{    
    display:grid;
    place-items: center;
    flex-direction: column;
    width: 25vw;
    border-radius: 10px;
    height: 40vh;
    margin: 20vh auto auto; 
}
.connexion_contenant{
    display:grid;
    place-items: center;
    width: 25vw;
}


input[id="mail"]  {
    padding: 1vh 0.1vw;
    background: #ffffff ;
    margin: 1vh 0;
    width: 12vw;
    border: 2px solid #a7001e;
    border-radius: 10px;
    outline: none;

  }
  input[id="password"]  {
    padding: 1vh 0.1vw;
    background: #ffffff ;
    margin: 1vh 0;
    width: 12vw;
    border: 2px solid #a7001e;
    border-radius: 10px;
    outline: none;

  }
  input[id="mail"]::placeholder{
    color: #000

  }
  input[id="password"]::placeholder{
    color: #000

  }

  button{
    display: center;
    justify-content: center;
    padding: 1vh 0.1vw;
    width: 12vw;
    margin: 1vh 0 ;
    background: #ffffff;
    border: 2px solid #a7001e;
    border-radius: 10px; 
    cursor: pointer;
  }
  button:hover{
    border: 2px solid #e4dfc0;
    background-color: #C1AA9E ;

  }



