
.connexion{
    background: rgb(226,233,192);
background: linear-gradient(90deg, rgba(226,233,192,1) 0%, rgba(0,221,255,0.43040966386554624) 100%);
    display:flex;
    justify-content:center;
    width: 400px;
    height: 400px;
    margin: 200px auto auto;
    
}

input[id="mail"]{ 
    margin:2% 0 ;
    padding: 12px 160px 7px 0;
}
input[id="password"]{
    padding: 12px 160px 7px 0;
}
input[id="connexion"]{
    cursor: pointer;
    padding:  19px 120px 0 0 ;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 2%;

}
