ul{
    list-style-type: none; 
}
a{
    text-decoration: none;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,233,192,1) 0%, rgba(233,205,192,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.meun_nav{
    display: flex ;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    
}

.nav_barre{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,233,192,1) 0%, rgba(233,205,192,1) 100%);

}
#logo{

}


.nav_barre li {
    font-weight: bold;
    padding: 20px 40px;
}

.nav_barre li a:hover {
    color: #A7001E;
}



#titre_menu{
display: flex;
margin-left: 25%;


}


.liste_pizza{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto auto;
    width: 1250px;

}



.pizza{
    width: 300px;
    height: auto;
    margin: 10px 20px  ;
    padding: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.386);
    border: solid black 1px;
    background-color: rgba(255, 255, 255, 0.11);
}
.image_pizza {
    display: flex;
    justify-content: center;
}
#image_pizza{
    width: 80%;
}
.titre_pizza h3{
margin-left: 10px;
}
.description{
    font-size: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 40.8px;
}
.prix_pizza{
    font-family: 'Lora', serif;
    text-align: center;
    
}






.footer-main{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.footer-titre{
    text-align: center;
    width: 200px;
    height: 50px;
}
.colone{
    display: flex;
    margin-left :20px ;
    width: 500px;
    height: 300px;
    flex-direction: column;

}
h6{
    text-align: center;
}
