.ctexte{
    display: flex;
    flex-direction: column;
    margin: 5vh 20vw;
}
h3{
    font-family: 'Tangerine', cursive;
    font-size: 20pt;

}
.titre{
    text-align: center;
}
.trait{
    border: solid 1px ;
}