


ul{
    list-style-type: none; 
}
a{
    text-decoration: none;
    color: #7c7844 ;
}



body {
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,233,192,1) 0%, rgba(233,205,192,1) 100%);
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}






.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #7c7844;
	font-size: .99em;
}

.main-nav li :hover {
	color: #A7001E;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.btn{
	display: none ;
	z-index: 99; /*pour qu'il soit devant tout */
	cursor: pointer;
	position: fixed;
	bottom: 10vh;
	right: 6vw;
	width: 3.75rem;
	height: 3.75rem;
	border-radius: 50%;
	font-family: 'Shantell Sans', cursive;
	font-size: 50pt;
	background-color: rgb(238, 180, 74);
	border: none;
}