<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/logo2.ico" />
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/produits.css">
    <title>Nos Produits</title>
</head>
<body>
    <header class="header">
		<h1 class="logo"><a href="/">Pizza'ngelo</a></h1>
      <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="img/artoff7.jpg">Carte</a></li>
        <li><a href="/magasin">Magasin</a></li>
        <li><a href="/connexion">Se connecter</a></li>
      </ul>
	</header>

    <div class="ctexte">
        <div class="titre">
            <h3> Nos produits</h3>
        </div>
        <div class="trait"></div>
        <div class="desc">
            <p>
                Depuis leur création, les pizzeria Pizza'ngelo 
                nouent des relations privilégiées avec les producteurs et les éleveurs de leur région.
                 Distribuer dans chaque magasin des produits faits juste à côté : une évidence pour chaque adhérent
                  du Mouvement Pizza'ngelo.

Aujourd’hui, cela se traduit concrètement par plus de 15 000 Alliances Locales et des circuits courts répartis dans tous les centres Pizza'ngelo.
            </p>


        </div>
        <img src="../src/000511896_896x598_c.jpg" alt="" srcset="">
        <div class="desc">
            <p>
                Une Alliance Locale est un partenariat de proximité noué entre un centre Pizza'ngelo et un producteur, un éleveur ou une petite entreprise situés dans un rayon maximum de 100 km.
            </p>
        <br><br><br><br><br>
<div class="trait"></div>
    </div>





















    <footer>
        <div class="footer-main">
            <div class="colone">
                <div class="footer-titre"><h5>COMPOSITION DE NOS PIZZAS</h5></div>
                <div class="footer-contain">
                    <div><a href="/nos_produits">Nos produits</a></div>
                </div>
            </div>
            <div class="colone">
                <div class="footer-titre"><h5>INFORMATION ENTREPRISE</h5></div>
                <div class="footer-contain">
                    <div><a href="/qui_sommes_nous"><span>Qui somme nous ?</span></a></div>
                    <div><a href="/emploi"><span>Emploi</span></a></div>
                    <div><a href="/news"><span>Pizza'ngelo News</span></a></div>
                    <div><a href="mailto:onapasdadressemail@gmail.com"><span>Nous contancter</span></a></div>
                    <div><a href="tel:0000000000">Nous appeler</a></div>
                </div>
            </div>
            <div class="colone">
                <div class="footer-titre">
                    <h5>SUIVEZ-NOUS !</h5>
                </div>
                <div class="footer-contain">
                    <div id="facebook"><a href="https://www.facebook.com/profile.php?id=100013309725765"><img src="img/facebook.png" alt="facebook"></a></div>
                    <div id="instagram"><a href="https://www.instagram.com/ma_z.01/"><img src="img/instagram.png" alt="instagram"></a></div>
                    <div id="Twitter"><a href="https://twitter.com/Am_7_5"><img src="img/twitter.png" alt="twitter"></a></div>
                    <div id="tiktok"><a href="https://www.tiktok.com/@ma_z.75"><img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/frFR/Images/NEWtiktok-black-share-icon1189_tcm196-875969.png" alt="tiktok"></a></div>
                    <div id="Ytb"><a href="https://www.youtube.com/channel/UCazlrBbPTFYH-FxiwdwJjuQ"><img src="img/ytb.png" alt="Youtube"></a></div>
                </div>
            </div>
        </div>
        <div class="footerfooter">
            <div class="copyrigth">
                <h5>© 2023 Pizza'ngelo, Inc. Tous droits réservés</h5> 
            </div>
        </div>
    </footer>
    <button class="btn">^</button>
    <script src="../Js/script.js"></script>
</body>
</html>