<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/connexion.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="shortcut icon" href="img/logo2.ico"/>
    <title>Se Connecter</title>
</head>
<body>
	<header class="header">
		<h1 class="logo"><a href="/">Pizza'ngelo</a></h1>
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="img/artoff7.jpg">Carte</a></li>
          <li><a href="/magasin">Magasin</a></li>
          <li><a href="/connexion">Se connecter</a></li>
          <li><a href="/panier">Panier</a></li>
      </ul>
	</header> 
    
            <div class="connexion_contenant">
                <div class="gauche">
                    <div class="titre"><h2>Se connecter à Pizza'ngelo</h2> </div>
                    <div class="description"> Se connecter pour bénéficier des avantages clients </div>
                </div>
                <form method="post" action="">
                    <div class="droite"><input type="text" name="mail" id="mail"placeholder="Adresse mail">
                    <input type="text" name="mdp" id="password"placeholder="Mot De Passe">
                    <input id="btn"type="submit" value="connexion">
                </form>
                <a href=""><h5>Mot de passe oublié ?</h5></a>
                <a href="/inscription"><h6>Créer un compte</h6></a>
            
             </div>
            </div>
            

</body>
</html>