<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Découvrez les meilleurs pizza du pays sur notre site web et commandez votre pizza facilement en ligne. Pizza'ngelo le gout de l'italie">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="js/scroll.css">
    <link rel="shortcut icon" href="img/logo2.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Lora:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Boutton -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Pizza'ngelo</title>
</head>
<body>
	<header class="header">
		<h1 class="logo"><a href="#">Pizza'ngelo</a></h1>
      <ul class="main-nav">
          <li><a href="#">Home</a></li>
          <li><a href="img/artoff7.jpg">Carte</a></li>
          <li><a href="/magasin">Magasin</a></li>
          <li><a href="/connexion">Se connecter</a></li>
          <li><a href="/panier">Panier</a></li>
      </ul>
	</header> 

        <img src="img/276908.png" alt="pizza" srcset="" id="pizzah">

    <section id="menu_liste">
        <header id="titre_menu">
            <div id="nos_pizza">
                <h3>Nos pizzas</h3>
            </div>
        </header>
        <div class="trait"></div>


        <div class="liste_pizza">
                <% produits.forEach(function(item) { %>
                <div class="pizza">
                    <div class="image_pizza">
                        <img src="<%= item.image %>" alt="margherita"id="image_pizza">
                    </div>
                    <div class="nom_pizza">
                        <div class="titre_pizza">
                            <h3><%= item.name %></h3>
                        </div>
                        <div class="description">
                            <%= item.description %>
                        </div>
                    </div>
                    <div class="prix_pizza">
                        <%= item.price %> €
                    </div>
                    <form action="/panier" method="post">
                        <input type="submit" value="Ajouter"id="btn">
                    </form>
                    
                </div>
                
                <% }) %>

           
            <div class="pizza">
                <div class="image_pizza">
                    <img src="img/margheritha.png" alt="margherita"id="image_pizza">
                </div>
                <div class="nom_pizza">
                    <div class="titre_pizza">
                        <h3>El Calzone</h3>
                    </div>
                    <div class="description">
                        Sauce tomate, feuilles de basilic frais, mozzarella.
                        Sublime la recette avec supplément de délicieux anchois après cuisson.
                    </div>
                </div>
                <div class="prix_pizza">
                    9€75
                </div>
            </div>
            <div class="pizza">
                <div class="image_pizza">
                    <img src="img/margheritha.png" alt="margherita"id="image_pizza">
                </div>
                <div class="nom_pizza">
                    <div class="titre_pizza">
                        <h3>El Calzone</h3>
                    </div>
                    <div class="description">
                        Sauce tomate, feuilles de basilic frais, mozzarella.
                        Sublime la recette avec supplément de délicieux anchois après cuisson.
                    </div>
                </div>
                <div class="prix_pizza">
                    9€75
                </div>
            </div>

        </div>
    </div>
    <br><br><br>
    <div class="trait"></div>
    <footer>
        <div class="footer-main">
            <div class="colone">
                <div class="footer-titre"><h5>COMPOSITION DE NOS PIZZAS</h5></div>
                <div class="footer-contain">
                    <div><a href="/nos_produits">Nos produits</a></div>
                </div>
            </div>
            <div class="colone">
                <div class="footer-titre"><h5>INFORMATION ENTREPRISE</h5></div>
                <div class="footer-contain">
                    <div><a href="/qui_sommes_nous"><span>Qui somme nous ?</span></a></div>
                    <div><a href="/emploi"><span>Emploi</span></a></div>
                    <div><a href="/news"><span>Pizza'ngelo News</span></a></div>
                    <div><a href="mailto:onapasdadressemail@gmail.com"><span>Nous contancter</span></a></div>
                    <div><a href="tel:0000000000">Nous appeler</a></div>
                </div>
            </div>
            <div class="colone">
                <div class="footer-titre">
                    <h5>SUIVEZ-NOUS !</h5>
                </div>
                <div class="footer-contain">
                    <div id="facebook"><a href="https://www.facebook.com/profile.php?id=100013309725765"><img src="img/facebook.png" alt="facebook"></a></div>
                    <div id="instagram"><a href="https://www.instagram.com/ma_z.01/"><img src="img/instagram.png" alt="instagram"></a></div>
                    <div id="Twitter"><a href="https://twitter.com/Am_7_5"><img src="img/twitter.png" alt="twitter"></a></div>
                    <div id="tiktok"><a href="https://www.tiktok.com/@ma_z.75"><img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/frFR/Images/NEWtiktok-black-share-icon1189_tcm196-875969.png" alt="tiktok"></a></div>
                    <div id="Ytb"><a href="https://www.youtube.com/channel/UCazlrBbPTFYH-FxiwdwJjuQ"><img src="img/ytb.png" alt="Youtube"></a></div>
                </div>
            </div>
        </div>
        <div class="footerfooter">
            <div class="copyrigth">
                <h5>© 2023 Pizza'ngelo, Inc. Tous droits réservés</h5> 
            </div>
        </div>
        <button class="btn">^</button>
        <script src="Js/script.js"></script>
        <script src="Js/darktheme.js"></script>
    </footer>
</body>
</html>