<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5;URL=/connexion">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/succesins.css">
    <link rel="shortcut icon" href="img/logo2.ico" />
    <title>Inscription réussite</title>
</head>
<body>
    <div class="container">
        <p class="titre">Inscription Réussite !</p>
        <p class="description">Vous allez être redirigé automatiquement dans 5 sur la page de connexion </p>
            <p><a href="/connexion">Cliquez ici</a> pour être redirigé</p>


    </div>
</body>
</html>