<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="shortcut icon" href="img/logo2.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
</head>
<body>
    <header class="header">
		<h1 class="logo"><a href="/">Pizza'ngelo</a></h1>
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="img/artoff7.jpg">Carte</a></li>
          <li><a href="/magasin">Magasin</a></li>
          <li><a href="/connexion">Se connecter</a></li>
          <li><a href="/panier">Panier</a></li>
      </ul>
	</header>
    <div class="main">


    </div>

    
</body>
</html>