<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/nav.css">   
    <link rel="stylesheet" href="css/panier.css"> 
    <link rel="shortcut icon" href="img/logo2.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
</head>
<body>
    <header class="header">
		<h1 class="logo"><a href="/">Pizza'ngelo</a></h1>
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="img/artoff7.jpg">Carte</a></li>
          <li><a href="/magasin">Magasin</a></li>
          <li><a href="/connexion">Se connecter</a></li>
          <li><a href="/panier">Panier</a></li>
      </ul>
	</header>
    <div class="contain">
        <div>
            <section class="coupon">
                <div class="titre"><h3>Ajouter un code coupon</h3></div>
                <div class="trait"></div>
                <div class="coupon_input">
                    <input type="text" name="coupon" id="coupon" placeholder="Entrer un code coupon">
                    <button id="valider">Valider</button>
                </div>
            </section>
            <section class="details">   
                <div class="titre"><h3>Détails de ma commande</h3></div>
                <div class="trait"></div>
                <div class="test">
                    <div class="row">
                        <div class="quantite">1 x</div>
                        <div class="commande">
                            <div class="nom_taille_pate">
                                <div class="detail">
                                    <div class="nom"><h4>margeurita</h4></div>
                                    <div class="tailel"><h4>Taille: </h4>33cm</div>
                                    <div class="pate"><h4>Pate:</h4>Fine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prix"><h4>7.99 €</h4></div>
                </div>
                <div class="modifie">
                    <button class="delete"><h4>Supprimer</h4></button>
                </div>
                <!-- <div class="trait"></div> -->

                <div class="test">
                    <div class="row">
                        <div class="quantite">1 x</div>
                        <div class="commande">
                            <div class="nom_taille_pate">
                                <div class="detail">
                                    <div class="nom"><h4>margeurita</h4></div>
                                    <div class="tailel"><h4>Taille: </h4>33cm</div>
                                    <div class="pate"><h4>Pate:</h4>Fine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prix"><h4>7.99 €</h4></div>
                </div>
                <div class="modifie">
                    <button class="delete"><h4>Supprimer</h4></button>
                </div>
                <div class="total"><h3>Total : 14.98</h3></div>
            </section> 
        </div>
    </div>

    
</body>
</html>